* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("assets/backimg.png");
    background-size: cover;
    color: white;
}

/* HEADER PART */

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    height: 130px;
}

.heading {
    /* font-family: kotta one; */
    background-color: rgba(250, 161, 0, 1);
    border-radius: 10px;
    margin-top: 2%;
    padding: 4%;
    padding-top: 1%;
    height: 1%;
    border: 5px solid rgba(255, 212, 134, 1);
}

button {
    margin-right: 90px;
    margin-top: 40px;
    width: 7%;
    height: 25%;
    background-color: rgba(250, 161, 0, 1);
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button h4 {
    font-size: medium;
}

/* MAIN CONTAINER STYLING  */

.main-container {
    /* border: 1px solid red; */
    margin-top: 10%;
    width: fit-content;
    margin-left: 150px;
}

.main-container h1 {
    font-size: 70px;
}

#color {
    color: rgba(250, 161, 0, 1);
}

.recipes-btn {
    background-color: rgba(250, 161, 0, 1);
    border: 5px solid rgba(255, 212, 134, 1);
    border-radius: 30px;
    width: fit-content;
    padding: 10px;
    margin-left: 1000px;
    margin-top: 50px;
    cursor: pointer;
}


@media screen and  (max-width:600px){
    header{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    header img{
        width: 60px;
        height: 60px;
    }
    .heading{
        height: 35px;
    }
    .heading h1{
        font-size: 15px;
    }
    button{
        width: 15%;
        position: relative;
        right: 2px;
        margin-right: 10px;
        margin-top: 13px;
    }
    button h4{
        font-size: 10px;
    }

    .main-container{
        position: relative;
        top: 50px;
        left: 10px;
        margin-left: 10px;
    }
    .main-container h1{
        font-size: 33px;
    }
    .main-container h3{
        font-size: 12px;
    }
    .recipes-btn{
        padding: 5px;
       position: absolute;
       top: 300px;
       right: 20px;
    }
    .recipes-btn h2{
        font-size: 20px;
    }
    
}